# Predict Salary

## Importing the Python libraries

In [1]:
import pandas as pd
import numpy as np

import seaborn as sns 
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split 
from sklearn.metrics import accuracy_score
from sklearn import metrics

from sklearn.preprocessing import LabelEncoder

import os

import math

%matplotlib inline

## Dataset
### Set raw data file path
### Reading the data sheet

In [2]:
raw_file_path = os.path.join(os.path.pardir, 'data', 'raw')
raw_data_file_path = os.path.join(raw_file_path, 'salary_data_1.xlsx')

raw_data = pd.read_excel(raw_data_file_path)

## Explore Data
### Get a sneak peak

In [3]:
raw_data.head(10)

,Age,Industry,Generic Job Title,Salary,Currency,Experience,Gender
0,18-24,Hospital,Medical Laboratory Technologist,1000.0,USD,1,Male
1,18-24,on-campus employment,Borrow Direct Assistant,2000.0,USD,1,Male
2,18-24,Images and Data Entry,Seasonal data entry associate,2000.0,USD,1,Male
3,35-44,Retail Gocery,Superviso,2240.0,USD,11,Male
4,18-24,"Currently a student, but I work in my drama de...",Theatrical Journeyman/student,2900.0,USD,1,Male
5,18-24,County govt,Intern,3000.0,USD,1,Male
6,18-24,Software,Software developer,3000.0,USD,4,Male
7,55-64,Grocery,Front end cashier,3150.0,USD,11,Male
8,25-34,Academia,Adjunct,3500.0,USD,6,Male
9,55-64,graphic designer,graphic designer,3500.0,USD,22,Male

In [4]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 877 entries, 0 to 876
Data columns (total 7 columns):
Age                  877 non-null object
Industry             841 non-null object
Generic Job Title    877 non-null object
Salary               877 non-null float64
Currency             877 non-null object
Experience           877 non-null int64
Gender               877 non-null object
dtypes: float64(1), int64(1), object(5)
memory usage: 48.0+ KB

In [5]:
print(raw_data['Generic Job Title'])

0                Medical Laboratory Technologist
1                        Borrow Direct Assistant
2                  Seasonal data entry associate
3                                      Superviso
4                  Theatrical Journeyman/student
5                                         Intern
6                             Software developer
7                              Front end cashier
8                                        Adjunct
9                               graphic designer
10                            Research Assistant
11              Collection Development Librarian
12                              Office Assistant
13                                  Receptionist
14                                    Line cook
15                      Study start-up associate
16                      Study start-up associate
17                              Prison Librarian
18                                     Paralegal
19                            Teachers Assistant
20                      Administrative Assistant
21                                          Host
22                               Swim instructor
23                                 Writing tutor
24                                 Writing Tutor
25                                        Waiter
26                             Interior designer
27                 Distance Learning Facilitator
28                         journalist / reporter
29                         journalist / reporter
                         ...
847                           Shipping associate
848                         Social Media Manager
849                                   Specialist
850                                   Specialist
851                  Speech-Language Pathologist
852                                Staff writer
853                                store manager
854                                     stripper
855                                   Sushi Chef
856                        Systems Administrator
857              Teaching Assistant, PhD student
858                                 Tech Support
859                                        Tutor
860                                     Vet tech
861                        Veterinary Technician
862                      Web & Marketing Manager
863                              Wedding Planner
864                         Programs Coordinator
865                            Library Assistant
866                                   Data Clerk
867                      Maintenance Coordinator
868                         Graduate Coordinator
869                     Administrative Assistant
870                   Instructional Technologist
871                   Student Records Specialist
872                          Program Coordinator
873                          Billing specialist
874                              Library Manager
875    Administrative and Purchasing Coordinator
876                             Assistant Brewer
Name: Generic Job Title, Length: 877, dtype: object

### Generalising the job titles into categories

In [6]:
def GetJobTitle(jobtitle):
    engineer = ["engineer", "analyst", "animator", "data scientist","technician", "engineering", "qa", "quality","tech", 
                 "control", "software","consultant", "designer", "developer", "specialist"]
    account = ["account", "claims"]
    hr  = ["talent", "hr", "recruiting", "recruiter", "human", "resources"]
    scientist = ["scientist", "research", "r&d", "technologist", "pathologist"]
    sales = ["sales", "marketing"]
    admin = ["administrator", "office", "admin"]
    media = ["reporter", "journalist", "media"]
    it  = ["support", "it"]
    medical = ["health", "medical", "mental", "physical","therapist", "clinical", "nursery", "nursing", "nurse", "psychologist"]
    teacher = ["teacher","lecturer", "tutor","instructor","trainer", "education", "training", "librarian", "educator",  
               "facilitator", "music", "learning", "library"]
    others = ["environmental", "environment","digital","communications","partner", "clerk", "coordinator", "visual","start-up",
               "store", "stripper", "shipping", "vet", "wedding", "brewer", "paralegal", "receptionist", "student","others",
               "cashier","intern","cook", "chef", "borrow", "entry", "adjunct", "supervisor", "superviso", "host", "artist", 
               "reception", "refurbisher", "operations", "productions", "production", "producer", "lab", "biller", "loan", 
               "line", "party", "coach", "homemaker", "goddess", "broker", "attendant", "firefighter", "executive", 
               "electrician", "assembler", "solutions", "customer", "care", "barista", "collector", "club", "ceo", "chief", 
               "case", "associate", "youth", "agent", "member", "owner", "operator", "property","ta","culinary", "server", 
               "busser", "independent", "contractor", "public", "retired", "bookseller","attorneu", "ea", "food", "maid", 
               "museum","keyholder", "cna", "experience" "package", "handler", "project",  "shift", "attorney",  "boss", 
               "interviewer", "lead", "bookkeeper", "farmer", "manager",  "senior", "driver", "paraprofessional",  "vp", 
               "flipper", "apprentice", "key", "phd", "receiver", "bakery", "concierge", "content", "worker", "delivery", 
               "freelance", "freelancer", "graduate", "employee", "head", "homebrew", "expert", "homemsker", "photographer", 
               "player", "tour", "guide", "resident", "companion", "dyer", "guest",  "head", "events", "temp",  "bid", "nanny",
               "bagger", "document", "teller", "advertising", "naturalist", "crew", "general", "transcriptionist", "in-charge",
               "front", "mason", "worship", "zookeeper", "level", "bartender", "arborist", "courier", "archaeologist", "HR", 
               "musician", "processor", "advisor", "acupuncturist", "housekeeper", "president",  "floor", "experience","csr", 
               "ranger", "esthetician", "registrar", "boxer", "director", "billing", "finance",  "landscaper", "craftsman", 
               "merchandiser",  "certified" ]
    
    title = jobtitle
    print(title)
    
        
    title = title.strip().lower()
    for i in range(len(engineer)):
        if (engineer[i] in title):
             title = "Engineer"
    for i in range(len(teacher)):
        if (teacher[i] in title):
             title = "Teacher"
    for i in range(len(account)):
        if (account[i] in title):
            title = "Accountant"
    for i in range(len(hr)):
        if (hr[i] in title):
             title = "HR"
    for i in range(len(scientist)):
        if (scientist[i] in title):
            title = "Scientist" 
    for i in range(len(sales)):
        if (sales[i] in title):
             title = "Sales"
    for i in range(len(admin)):
        if (admin[i] in title):
            title = "Admin"
    for i in range(len(media)):
        if (media[i] in title):
             title = "Media"
    for i in range(len(it)):
        if (it[i] in title):
            title = "IT"
    for i in range(len(medical)):
        if (medical[i] in title):
            title = "Medical"
    for i in range(len(others)):
        if (others[i] in title):
             title = "Others"
    
    
    return title

### Creating a new column 'Job Title'

In [7]:
raw_data['Job Title'] = raw_data['Generic Job Title'].map(lambda x : GetJobTitle(x))

Medical Laboratory Technologist
Borrow Direct Assistant
Seasonal data entry associate
Superviso
Theatrical Journeyman/student
Intern
Software developer
Front end cashier
Adjunct
graphic designer
Research Assistant
Collection Development Librarian
Office Assistant
Receptionist
Line cook
Study start-up associate
Study start-up associate
Prison Librarian
Paralegal
Teachers Assistant
Administrative Assistant
Host
Swim instructor
Writing tutor
Writing Tutor
Waiter
Interior designer
Distance Learning Facilitator
journalist / reporter
journalist / reporter
Part-time SEO Copywriter
Journeyman Electrician
Admin Assistant
Sale associate
Member service representative
Operations Coordinator
student
After School Teacher and Sweeper
Horse Trainer
Owner Operator
Site Manager
Director of Communications
Host
Property inspector
TA
Intern
Culinary server
Office Worker
Senior Design Quality Engineer
babysitter
Busser
Busser
Clerk
english teacher
Independent Contractor
Meat Clerk
Public Relations Manager
Exercise specialists
Help Desk Tech
Cafteria Worker (Student Manager)
Barista
DIGITAL MEDIA MANAGER
Part-time freelance writer
Part-time freelance writer
Piano instructor
Publicity Contact
retired
Server
Store Clerk
Supervisor
Supervisor
Senior Project Engineer
Engineer
Sales rep
Library Assistant
Adjunct instructor
Caretaker
Bookseller
Director of Nursing
Library Assistant
Library Page
Computer Scientist
Computer Scientist
Adjunct
Adjunct professor
Attorneu
Barista
Content Writer
EA
Field representative
Fitter
food
freelance writer
Graduate Assistant Coach
Instructional assistant
Legal Secretary
Maid
Museum services lead
Pharmacy tech
Prep cook
Research Assistant
student
Student support services
Teacher
Teaching assistant
Vet tech
Keyholder
Adjunct English Instructor
operations
TA
Solar Consultant
CNA
Customer Service Associate
experience embassador
Librarian
Package Handler
preschool teacher
Substitute Teacher
Team Lead- Shoe Store
Service Associate
Engineer
Project Liaison
Ice Resurfacer/Zamboni Operator
Senior developer
Shift Manager
Administrative Assistant (part time)
Archive Assistant
Attorney
Boss
ESOL teacher
ESOL teacher
Head Cashier/Front End Supervisor
Interviewer
Teaching Assistant
access specialist II
Library Assistant (part-time)
Android Developer
Teacher
Lead
Branch Assistant
Adjunct Instructor
Adjunct professor, researcher
Bookkeeper
Cashier
customer service
customer service rep
Farmer
Graduate Instructor
Junior Interior Designer
Leasing Agent
library assistant
Manager
Marketing Coordinator
Office Assistant
Online contract worker
Pet sitter
Portfolio manager
Sales consultant
Visitor services associate
Writer and Editor
Cook
Office coordinator
barista
Receptionist
Records Researcher
Senior Fellow
Senior Fellow
Unit Secretary
adjunct instructor
Assistant Manager
copywriter
Deli Associate
Driver
Farm owner
Graduate Assistant
Graduate Assistant Athletic Trainer
graphic designer
Paraprofessional
Pharmacy Intern
Sales Associate
Substitute Teacher
Server
Prep Cook
Shift leader
Administrative Secretary
bookseller
Chiropractic Assistant
Crew member
Economic Development Director/Coordinator
Firefighter/EMT
Graduate Teaching Assistant
Karaoke host
Logistics Coordinator
Logistics Coordinator
Logistics Coordinator
Media Aide
Order fulfillment associate
Sr. Product Line Manager
Animal Care & Adoption Counselor
Babysitter
VP Finance
financial manager
Grants & Resource Specialist
Manager on Duty
Account executive
aquatics instructor
burger flipper
Clerk
Editor
Facilitator I, Guest Experiences
Game Designer
Housing Graduate Assistant
Juice Barista
Math Lab Tutor
Office Manager
Owner
Paraprofessional
Preschool Teacher
retail sales
Sales
Sales Representative
Stage Manager
Substitute teacher
Technician
Programs Assistant (Part-time)
Library associate
Inventory specialist
Play Apprentice
PhD student
Office Assistant
Utility data specialist
Assistant Career Planner
Admin Assistant
Checkout coach
Customer Service Representative
Grad student
Graduate research assistant
Key Holder
Library Assistant
Medical technician
Office Manager
PhD Candidate
receiver
server
Library Assistant
manager
Administrative Assistant
Sales Associate
VP product engineering
Administrative Assitant
Adjunct instructor
Adjunct professor
Assistant Bookkeeper
Back Office
Bakery team leader & froster
Barn Manager
Bus Operator
Cashier
Cashier
CNA
concierge
Content Ceator
Copy editor, paginator
Deli worker
Delivery Driver
Dive instructor
Founder/Executive Director
freelance musician
Freelancer
Graduate Employee
Head Turtle
Homebrew Expert
Homemsker
Lecturer
Library Assistant II
Library Associate
library clerk
Men's & Women's Assistant Track and Cross Country Coach
Museum Teacher/Planetarium Presenter
Permit Technician
Pharmacy intern
Pharmacy Technician
PhD Candidate / Teaching Assistant
Photographer
Physics Graduate Student
Poker Player
Preschool teacher
Public Service Assistant
Receptionist
Reference Librarian
Reference Librarian
Reporter
Research Assistant
Research Assistant
Sales
Sales associate
Sales Specialist
Substitute teacher
Teacher of English
Tour Guide
Volleyball Coach
Waiter
Cashier
Cashier
Manager
Graduate Student
Medically retired officer/freelance web developer
Sales associate
Web Application Developer
Associate Development Director
Customer Service Representative
Early childhood teacher
Office administrator
Resident Social Companion
Graduate teaching assistant
Agent
Chief bottle washer cook
Direct Support Staff
Direct Support Staff
Fiber Dyer
Grad student/University Instructor
Graduate Research Assistant
Graduate Student
Guest Services
Head of Adult Events and Programing
Ministry Assistant
music teacher
Temp
Sales Lead
Guest service agent
Retired
Graduate Assistant
Secretary
Bid manager
Cashier
Lead Copywriter
Library Services Assistant
Nanny
Visitor Experience Assistant manager
Office Assistant
Admin
Bagger
barista
Certified Veterinary Technician
Customer Service Associate
Document Management
Field Offices Coordinator
Freelance reporter
Head of Government Sales
Laborer
Manager/buyer
Operator
Optical Consultant
Owner/operator
Paraprofessional
Sales manager
Speech and Language Pathologist
Stage Hand
Teller
Visitor Services Assistant
Worldwide Advertising Manager
Communications Representative
cook cashier
naturalist
Administrative Assistant
Customer Service Rep
Assistant manager
Assistant manager
Cashier
Cook
Political reporter
Teller
Accounts Receivable Clerk
administrative assistant
administrative assistant
Assistant general manager
Crew
Department manager
Desk Clerk/Page
Full-time chat agent
Home health/hospice aide
Office Associate
PhD candidate
Production Coordinator
Program Specialist
Radio producer
Secretary/Administrative Assistant
Tax assessor
tax assessor
Walmart Cashier
Web Designer
Administrative Assistant
Captioning Agent
Part-time Adjunct Instructor
technician
Executive assistant
Guest Service Associate
Library Assistant
Night Auditor
General Manager
Adjunct Librarian
Graduate Research Assistant
File Clerk
Designer/Sales/Production
 transcriptionist
Accounts payable
Adjunct Instructor
Administrative Assistance
Administrator
Assistant Guide
Assistant Manager
Call Center Representative
Caregiver
Central Files In-Charge
Client Care Coordinator
Direct care staff
Document Agent I
editor
Executive Director
Front Desk
High School Humanities Teacher
Journalist
Lead consultant and marketing
Library Specialist
Marketing project manager
Mason
partner manager
Program/Development Specialist
Project engineer
Project engineer
Registered nurse
Reporter
Research Assistant
Research Technician
Sales Associate
Singer-Songwriter
Store Assosiate
Teacher
Teacher's Aide
Testing Coordinator
Vet Asst
Visiting Instructor
Worship Leader
Zookeeper
Zookeeper
CSA Level 2
Elementary Music Teacher
Visitor Services Coordinator
Graduate Research Fellow
clerk
Machine Operator
Librarian, County Historian
Customer Experience Representative I
Administrative Director
Customer Support Representative
Psychologist
Social Media Manager
Instructor
secretary
Senior Administrative Assistant
Substitute Teacher
Director of Youth Ministries/Director of Music Ministries
Help Desk Specialist
Administrative Assistant
Receptionist
Reporter
 Store manager
Accounting Assistant
Administrative Assistant
Administrative Assistant
Administrative Support
After School Program Site Leader
Assistant Store Manager
bartender
Certified medical assistant
Consulting Arborist
Copywriter
Courier
Courier
Digital Content/Social Media Manager
Executive assistant
Field archaeologist
File Review Clerk
Graduate Assistant
Graduate Research Assistant
Graduate student researcher
HR Assistant
In-House Substitute
Manager
Marketing Specialist
Musician
office manager
Operations Admin
Operations specialist
Optician Apprentice
Photographer
Processing Tech II
Professional/ Techinal Writer
QA Manager
quality tech
Receptionist
Sales
Sales
Security officer
Security Officer
Server
Server
Teacher
Teacher
Uber Driver
Uber Driver
Violations Processor
Customer Service Representative
head cashier
Front Desk Attendant
graduate student research assistant
Makeup artist
Shipping administrator
library associate
sales associate
Shift Supervisor / Manager
Admin Support 3
Office Manager
Library Associate
Administrative Specialist
Clerk
Pharmacy Technician
IT Help Desk
Student
Secretary
Study Abroad Advisor
Bookkeeper
Administrative assistant
Account Manager
Acupuncturist
Admin Manager
Administrative Assistant
Administrative assistant
Community Outreach Coordinator
Designer
Development Assistant
Dietary aide
freelance book editor
Graduate Assistant
Graduate Student Researcher
Housekeeper
Medical unit secretary
Office manager
Owner
Owner/operator
Parish Ministries Coordinator
President
Senior Corrections Technician
senior library assistant
Senior Zookeeper
Visitor services
Work floor
Writer
Administrative Specialist III
Administrative Assistant
Park Ranger
Volunteer and Partnerships Program Manager
Volunteer/Outreach Coordinator
Doctoral Student
Intake Specialist
Real Estate Lending Assistant
Veterinary technician
Administrative Assistant
ADMINISTRATIVE
Concierge
Personal Care Assistant (PCA)
Parish Organist/Publications
Legal Assistant
Accounts receivable specialist
Administrative Assistant
Assistant Director
Assistant Manager
Billing specialist
CSR
Customer Service Representative
Daycare Teacher
Direct support staff awake driving
Direct support staff awake driving
Editor
Esthetician
Esthetician
Food Service
Front Desk Agent
Graduate Research Assistant
Home health aide
Home health aide
iCoach
Lab Assistant
Librarian
Library assistant
Office Assistant
Office Coordinator
office manager
PhD student
Receptionist
Registrar
Registration specialist
Research Coordinator
Sales rep
Special education aide
Stitcher
Vet Assistant
Veterinary Assistant
Veterinary Technician
Administrative Coordinator
Data Processor
payroll clerk
Receptionist
Accounts Receivable/ Customer Service
Bookkeeper
Collections assistant
Boxer
College Advisor
Office Associate Senior
Preschool teacher
Resident Director
Resident Director
Purchasing Assistant
Branch Office Administrator
CNAII
Assistant Wrestling Coach
Admin Assistant
Administrative Assistant
Administrative Assistant I
Art and computer teacher
Assistant Director of Residence Life
Billing
Customer Service
Customer Service Rep
Customer Service Specialist
Deli Clerk
employment services assistant
esl  teacher
finance
Foster Concierge
Grad student and freelance indexer
Graduate Research Assistant
Graduate Student
Graphic Artist - Nonfreelancer
Home Health Aide
Interpretation Coordinator
Landscaper
Maintenance Craftsman
Manager
Manufacturing Technician
Merchandiser
Operations Manager
Payment specialist
Tasting room server
Teaching Assistant
Teller
Unit secretary
Volunteer Coordinator
Welding Supervisor
Youth Services Librarian
Accounts Payable
Airport Operations
Call Center Associate
Mail Clerk
Administrative Support Supervisor
Assistant Department Manager
Bank Teller
Research assistant
Certified Paraoptometric
Medical Transcriptionist/Editor
Survey Assistant
Fellowship Coordinator
Head Cashier
Library Assistant
Biological technician
Legal Assistant
Admin Assistant
Medical Claims Processor
Inventory Specialist
Research Technician 3
Accountant
Accounts Receivable Specialist
Administrative Assistant
Administrative Assistant
Customer care advocate
Data and Outreach Administrator
Event coordinator
IT Specialist
Lab analyst
Library staff
Marketing & Communications Fellow
Office Assistant
Office Coordinator
Photo Editor
Primary Preschool Teacher
Research Technician
Server/waitress
Tech analyst tier 1
teller
HR assistant
Assistant Property Manager
Staff Accountant
Toddler Teacher
Coordinator
Graduate Student
Lab Manager, Math Lab
Programs Specialist
Assistant Manager
Assistant Director of Development
Health Center Assistant
Office Assistant
Youth Outreach Worker
Bookkeeper
Ticket Office Coordinator
Post-Baccaulaureste Research Trainee
Retention agent
Adjunct Instructor
Teller
administrator
Employment Training Coach
Accounting Specialist
Adjunct Faculty
Adjunct professor
Adjunct Professor
Admin Assistant
Admin Assistant
Admin Asst.
Administrative Assistant
Administrative Assistant
Administrative Assistant
Administrative Lead
Admissions Coordinator
Adult Basic Education Instructor
Adult Services Librarian
Advocacy and Engagement Coordinator
Animator
AP Clerk
Assistant nursery manager
Associate
Associate Lead
Associate teacher
Associate teacher
Associate teacher
Bookkeeper
Case management
CEO
Certified veterinary technician
Chef
Claims Examiner I
Clerk
Clinical Assistant
Club Manager
Collector
Communications and Program Administration Manager
Communications Coordinator
Coordinator/Manager
copy editor
Crew member
Crew Member and Barista
Customer service
Customer Service Specialist
Customer Service Supivisor
Customer Solutions
Desktop support coop
Dietitian
Digital Marketing manager
doctoral student
Driveline Assembler
Editorial Assistant
Educator
electrician
Engineer
Environmental Compliance Specialist
executive
Experience Coordinator
Fellow/exhibition assistant
Firefighter
flight attendant
Floral designer
Freelance Web Developer
Freight Broker
Front Desk
Goddess
Graduate Research Assistant
Graduate Student
Graduate Student
Graphic Design/Production
Graphic Designer
Help Desk Specialist
Help Desk Technician
Him analyst
Homemaker
Inside Sales and Customer Service
Inside Sales Coordinator
Instructional Technologist
Intern
Intern
Job coach
Junior Financial Analyst
Junior Party Chief
K-1 Teacher
Laborer
Legal Assistant
Legal Assistant/Calendar clerk
Library Assistant
Library assistant
Line manager
loan processor
Manager
Marketing Administration Assistant
Marketing Associate
Medical biller
Mental Health Therapist
Mortgage loan officer
Museum educator
Music Teacher/Food Service Worker
Music Teachet
Office manager
Online Sales Coordinator
Operations Manager
paralegal
Paralegal
Pathology Lab Assistant
Pathology Lab Assistant
PhD Candidate
Procurement Specialist
Producer
producer
Production Chef
Production Operator
Program Coordinator
Project Coordinator/recruiter
Project Operations Assistant
Reception
Reception
Receptionist
Refurbisher
Reporter
Reporter
Research assistant
Research Assistant
Research Scientist
Researcher
researcher
Resident Artist
Server
Server
Shipping associate
Social Media Manager
Specialist
Specialist
Speech-Language Pathologist
Staff writer
store manager
stripper
Sushi Chef
Systems Administrator
Teaching Assistant, PhD student
Tech Support
Tutor
Vet tech
Veterinary Technician
Web & Marketing Manager
Wedding Planner
Programs Coordinator
Library Assistant
Data Clerk
Maintenance Coordinator
Graduate Coordinator
Administrative Assistant
Instructional Technologist
Student Records Specialist
Program Coordinator
Billing specialist
Library Manager
Administrative and Purchasing Coordinator
Assistant Brewer

In [8]:
print(raw_data['Job Title'].unique())

['Engineer' 'Others' 'Scientist' 'Admin' 'IT' 'Media' 'Sales' 'Medical']

### Dropping a redundant column

In [9]:
raw_data.drop(['Generic Job Title'], axis = 1, inplace=True)
raw_data.head()

,Age,Industry,Salary,Currency,Experience,Gender,Job Title
0,18-24,Hospital,1000.0,USD,1,Male,Engineer
1,18-24,on-campus employment,2000.0,USD,1,Male,Others
2,18-24,Images and Data Entry,2000.0,USD,1,Male,Others
3,35-44,Retail Gocery,2240.0,USD,11,Male,Others
4,18-24,"Currently a student, but I work in my drama de...",2900.0,USD,1,Male,Others

###  Removing precision from the values of  experience that are in fractions

In [10]:
raw_data['Experience'] = round(raw_data['Experience'])

In [11]:
raw_data

,Age,Industry,Salary,Currency,Experience,Gender,Job Title
0,18-24,Hospital,1000.0,USD,1,Male,Engineer
1,18-24,on-campus employment,2000.0,USD,1,Male,Others
2,18-24,Images and Data Entry,2000.0,USD,1,Male,Others
3,35-44,Retail Gocery,2240.0,USD,11,Male,Others
4,18-24,"Currently a student, but I work in my drama de...",2900.0,USD,1,Male,Others
5,18-24,County govt,3000.0,USD,1,Male,Others
6,18-24,Software,3000.0,USD,4,Male,Engineer
7,55-64,Grocery,3150.0,USD,11,Male,Others
8,25-34,Academia,3500.0,USD,6,Male,Others
9,55-64,graphic designer,3500.0,USD,22,Male,Engineer
10,18-24,Law,3640.0,USD,1,Male,Scientist
11,35-44,Public Library,3700.0,USD,11,Male,Others
12,18-24,NaN,3700.0,USD,1,Male,Admin
13,18-24,NaN,3800.0,USD,1,Male,Others
14,18-24,Culinary,3840.0,USD,4,Female,Others
15,35-44,Clinical trial,3900.0,USD,6,Female,Others
16,35-44,Clinical trial,3900.0,USD,6,Female,Others
17,25-34,State Employee,4100.0,USD,6,Female,Others
18,25-34,Legal,4500.0,USD,4,Female,Others
19,18-24,Teaching,4500.0,USD,1,Male,Others
20,25-34,Education,4884.0,USD,4,Male,Admin
21,18-24,Restaurant,5000.0,USD,1,Male,Others
22,18-24,Education,5000.0,USD,6,Male,Others
23,45-54,Education,5000.0,USD,11,Male,Others
24,18-24,Higher Education,5000.0,USD,1,Male,Others
25,18-24,Hospitality,5140.0,USD,4,Male,IT
26,35-44,Design,5400.0,USD,4,Female,Engineer
27,45-54,Higher Education,6000.0,USD,11,Female,Others
28,35-44,media,6000.0,USD,11,Female,Media
29,35-44,NaN,6000.0,USD,11,Male,Media
...,...,...,...,...,...,...,...
847,25-34,Retail,30000.0,USD,6,Male,Others
848,35-44,Chemical,30000.0,USD,11,Male,Media
849,18-24,Health Care,30000.0,USD,1,Male,Engineer
850,25-34,Private sector,30000.0,USD,6,Male,Engineer
851,35-44,Speech-Language Pathologist,30000.0,USD,11,Male,Scientist
852,18-24,Journalism /newspaper,30000.0,USD,1,Male,IT
853,25-34,retail,30000.0,USD,6,Female,Others
854,65 or over,printing,30000.0,USD,25,Female,Others
855,25-34,Sushi restaurant industry,30000.0,USD,4,Female,Others
856,25-34,Education,30000.0,USD,6,Female,Admin
857,25-34,Academia,30000.0,USD,6,Male,Others
858,35-44,IT,30000.0,USD,11,Male,Engineer
859,35-44,Education,30000.0,USD,11,Male,Others
860,35-44,Veterinary medicine,30000.0,USD,8,Male,Engineer
861,25-34,Veterinary Medicine,30000.0,USD,4,Male,Engineer
862,25-34,Marketing,30000.0,USD,6,Male,Sales
863,25-34,Events/Hospitality,30000.0,USD,6,Male,Others
864,25-34,Nonprofit,30030.0,USD,4,Male,Others
865,25-34,Education,30100.0,USD,8,Male,Others
866,45-54,Education,30350.0,USD,22,Male,Others
867,25-34,Hospitality,30430.0,USD,4,Male,Others
868,25-34,Higher Education,30450.0,USD,8,Female,Others
869,25-34,Academia,30500.0,USD,4,Female,Admin
870,25-34,Higher Education,30500.0,USD,6,Female,Engineer
871,25-34,Higher Education,30500.0,USD,8,Female,Engineer
872,45-54,Non-Profit,30684.0,USD,8,Male,Others
873,25-34,Accounting,30700.0,USD,6,Male,Engineer
874,25-34,Education,30700.0,USD,4,Male,Others
875,25-34,Arts Administration,30720.0,USD,6,Male,Admin
876,25-34,Brewing,30720.0,USD,4,Male,Others

### Label Encoding to tranform Gender and Job Title categorical data into numerics

In [12]:
raw_data['Gender Encoded'] = LabelEncoder().fit_transform(raw_data['Gender'])
raw_data['Job Title Encoded'] = LabelEncoder().fit_transform(raw_data['Job Title'])

In [13]:
raw_data

,Age,Industry,Salary,Currency,Experience,Gender,Job Title,Gender Encoded,Job Title Encoded
0,18-24,Hospital,1000.0,USD,1,Male,Engineer,1,1
1,18-24,on-campus employment,2000.0,USD,1,Male,Others,1,5
2,18-24,Images and Data Entry,2000.0,USD,1,Male,Others,1,5
3,35-44,Retail Gocery,2240.0,USD,11,Male,Others,1,5
4,18-24,"Currently a student, but I work in my drama de...",2900.0,USD,1,Male,Others,1,5
5,18-24,County govt,3000.0,USD,1,Male,Others,1,5
6,18-24,Software,3000.0,USD,4,Male,Engineer,1,1
7,55-64,Grocery,3150.0,USD,11,Male,Others,1,5
8,25-34,Academia,3500.0,USD,6,Male,Others,1,5
9,55-64,graphic designer,3500.0,USD,22,Male,Engineer,1,1
10,18-24,Law,3640.0,USD,1,Male,Scientist,1,7
11,35-44,Public Library,3700.0,USD,11,Male,Others,1,5
12,18-24,NaN,3700.0,USD,1,Male,Admin,1,0
13,18-24,NaN,3800.0,USD,1,Male,Others,1,5
14,18-24,Culinary,3840.0,USD,4,Female,Others,0,5
15,35-44,Clinical trial,3900.0,USD,6,Female,Others,0,5
16,35-44,Clinical trial,3900.0,USD,6,Female,Others,0,5
17,25-34,State Employee,4100.0,USD,6,Female,Others,0,5
18,25-34,Legal,4500.0,USD,4,Female,Others,0,5
19,18-24,Teaching,4500.0,USD,1,Male,Others,1,5
20,25-34,Education,4884.0,USD,4,Male,Admin,1,0
21,18-24,Restaurant,5000.0,USD,1,Male,Others,1,5
22,18-24,Education,5000.0,USD,6,Male,Others,1,5
23,45-54,Education,5000.0,USD,11,Male,Others,1,5
24,18-24,Higher Education,5000.0,USD,1,Male,Others,1,5
25,18-24,Hospitality,5140.0,USD,4,Male,IT,1,2
26,35-44,Design,5400.0,USD,4,Female,Engineer,0,1
27,45-54,Higher Education,6000.0,USD,11,Female,Others,0,5
28,35-44,media,6000.0,USD,11,Female,Media,0,3
29,35-44,NaN,6000.0,USD,11,Male,Media,1,3
...,...,...,...,...,...,...,...,...,...
847,25-34,Retail,30000.0,USD,6,Male,Others,1,5
848,35-44,Chemical,30000.0,USD,11,Male,Media,1,3
849,18-24,Health Care,30000.0,USD,1,Male,Engineer,1,1
850,25-34,Private sector,30000.0,USD,6,Male,Engineer,1,1
851,35-44,Speech-Language Pathologist,30000.0,USD,11,Male,Scientist,1,7
852,18-24,Journalism /newspaper,30000.0,USD,1,Male,IT,1,2
853,25-34,retail,30000.0,USD,6,Female,Others,0,5
854,65 or over,printing,30000.0,USD,25,Female,Others,0,5
855,25-34,Sushi restaurant industry,30000.0,USD,4,Female,Others,0,5
856,25-34,Education,30000.0,USD,6,Female,Admin,0,0
857,25-34,Academia,30000.0,USD,6,Male,Others,1,5
858,35-44,IT,30000.0,USD,11,Male,Engineer,1,1
859,35-44,Education,30000.0,USD,11,Male,Others,1,5
860,35-44,Veterinary medicine,30000.0,USD,8,Male,Engineer,1,1
861,25-34,Veterinary Medicine,30000.0,USD,4,Male,Engineer,1,1
862,25-34,Marketing,30000.0,USD,6,Male,Sales,1,6
863,25-34,Events/Hospitality,30000.0,USD,6,Male,Others,1,5
864,25-34,Nonprofit,30030.0,USD,4,Male,Others,1,5
865,25-34,Education,30100.0,USD,8,Male,Others,1,5
866,45-54,Education,30350.0,USD,22,Male,Others,1,5
867,25-34,Hospitality,30430.0,USD,4,Male,Others,1,5
868,25-34,Higher Education,30450.0,USD,8,Female,Others,0,5
869,25-34,Academia,30500.0,USD,4,Female,Admin,0,0
870,25-34,Higher Education,30500.0,USD,6,Female,Engineer,0,1
871,25-34,Higher Education,30500.0,USD,8,Female,Engineer,0,1
872,45-54,Non-Profit,30684.0,USD,8,Male,Others,1,5
873,25-34,Accounting,30700.0,USD,6,Male,Engineer,1,1
874,25-34,Education,30700.0,USD,4,Male,Others,1,5
875,25-34,Arts Administration,30720.0,USD,6,Male,Admin,1,0
876,25-34,Brewing,30720.0,USD,4,Male,Others,1,5

### Re-arrange the columns in a correct sequence (x, y)

In [ ]:
raw_data = raw_data[['Experience', 'Gender', 'Gender Encoded', 'Job Title', 'Job Title Encoded', 'Salary']]
raw_data

### Data Analysis and Visualization

#### Getting median salaries based on Job Title

In [ ]:
raw_data.groupby(['Job Title'])['Salary'].median()

#### Data proportion based on Gender (Male or Female)

In [ ]:
raw_data.Gender.value_counts(normalize = True)

In [ ]:
raw_data.groupby(['Gender'])['Experience', 'Salary'].median()

In [ ]:
raw_data.groupby(['Gender'])['Salary'].mean()

In [ ]:
groups = raw_data.groupby("Salary")
for name, group in groups:
    plt.plot(group["Gender Encoded"], group["Experience"], marker="o", linestyle="", label= name)
    plt.title('Salary comparison based on Experience and Gender')

In [ ]:
raw_data.groupby(['Experience','Gender', 'Job Title'])['Salary'].median()

### Getting the mean of salaries based on each years of experience

In [ ]:
dict = (raw_data.groupby(['Experience'])['Salary'].mean().astype(int)).to_dict()
print(dict)

In [ ]:
for k, v in dict.items():
    raw_data.loc[raw_data.Experience == k, "Salary"] = v

### Removing Gender and Job Title column

In [ ]:
raw_data.drop(['Gender'], axis = 1, inplace=True)
raw_data.drop(['Job Title'], axis = 1, inplace=True)

### Processed data path

In [ ]:
processed_data_path = os.path.join(os.path.pardir, 'data', 'processed')
write_processed_data_path = os.path.join(processed_data_path, 'processed_data.xlsx')
raw_data.to_excel(write_processed_data_path, index=False)

### Read processed data to feed into the model

In [ ]:
processed_data = pd.read_excel(write_processed_data_path)

### Splitting the whole data into training and testing batches using train_test_split

In [ ]:
train, test = train_test_split(processed_data, test_size = 0.2)
print("Training size: {}, Test Size {}".format(len(train), len(test)))

### Defining train and test data X and y features

In [ ]:
features = ['Experience', 'Gender Encoded', 'Job Title Encoded']
X_train = train[features]
y_train = train['Salary']

X_test = test[features]
y_test = test['Salary']

### Creating the model

In [ ]:
clf = RandomForestRegressor(n_estimators=100, random_state=0)

### Training the model using fit()

In [ ]:
clf = clf.fit(X_train, y_train)

### Predict based on a new set of input variables

In [ ]:
y_pred = clf.predict(X_test)

In [ ]:
print(y_pred)
print(y_test)

### Model Metrics: Errors

In [ ]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))